.category {
    height: 350px;
    width: 100%;
    max-width: 350px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category img {
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0 10px;
}

.category a {
    text-decoration: none;
    color: rgb(35, 35, 35);
}

.category h2,
.category p {
    padding: 5px;
    margin-left: 15px;
}

.category p {
    font-size: 12px;
    font-weight: bold;
    color: rgb(9, 132, 209);
}

.category_container {
    position: relative;
    margin-top: -10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1400px;
    place-items: center;
    gap: 50px;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 1441px) and (max-width: 2560px) {
    .category_container {
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }
}

@media (max-width: 1440px) and (min-width: 1024px) {
    .category_container {
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    }
}

/* Media Query for Tablets or Smaller Laptops */
@media (max-width: 1024px) {
    .category_container {
        max-width: 1000px;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }
}

@media screen and (max-width: 768px) {
    .category_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        gap: 20px;
    }

    .category img {
        max-height: 200px;
    }
}

@media screen and (max-width:570px) {
    .category_container {
        grid-template-columns: repeat(1, 1fr);
    }

}