.payment_header {
    padding: 20px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(234, 237, 237);
}

.payment {
    padding: 30px;
}

.flexed {
    display: flex;
    gap: 20px;
    padding: 30px;
}

.flexed h3 {
    min-width: 300px;
}

.flexed img {
    width: 80px !important;
}

.flexed div {
    height: auto !important;
}

.payment_card_container {
    max-width: 350px;
    width: 100%;
}

.payment_price {
    padding: 20px;
}

.payment_price>div {
    display: flex;
    font-size: 16px;
    gap: 10px;
}

.payment_details button {
    margin-top: 15px;
    width: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 8px 10px;
    cursor: pointer;
}

.loading {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: rgb(52, 52, 52);
}

.payment_details button:hover {
    background-color: var(--primary-shade);
}

@media screen and(max-width:768px) {
    .flexed {
        flex-direction: column;
    }
}